<% count = collection['collection_item_count'] %>
<div class="panel panel-default collection is-super-collection-<%= collection['is_super_collection'] %>">
  <div class="panel-body">
    <% thumbs = (collection['collection_thumbnails']) ? JSON.parse(collection['collection_thumbnails']) : [] %>
    <%=
      link_to collection_path(collection) do
        render 'thumbnail', thumbnails: thumbs, collection: collection
      end
    %>
  </div>
  <div class="panel-footer">
    <h3><%= link_to collection['collection_name'], collection_path(collection) %></h3>
    <div class="collection-meta">
      <div class="collection-contributor">
      <%= (collection['is_super_collection']) ? collection['collection_description'] : collection['contributing_organization_name'] %>
      </div>
      <div class="collection-count"><%= count %> <%= count > 1 ? 'items' : 'item' %></div>
    </div>
      <% if collection['is_super_collection'] %>
        <div class="featured-collection pull-right"
             data-toggle="tooltip"
             alt="Special Project"
             title="Large multi-collection projects often focusing on a similar theme or topic.">Special Projects
             <span class="icon-help-circled"></span>
             </div>
      <% end %>
  </div>
</div>