<%= form_tag collections_path, :method => :get, class: 'filter-form', 'data-action' => 'home#search' do %>
  <%= hidden_field_tag "sort", params.fetch(:sort, 'collection_recency_sort desc') %>
  <%= hidden_field_tag "page", params.fetch(:page, 1) %>
<div class="input-group input-group-md">

    <%= label_tag :filter_q, 'Filter:', style: 'display:none' %>
    <%= text_field_tag :filter_q, params[:filter_q], class: 'form-control', placeholder: 'Filter Collections...', value: params[:filter_q], 'data-action' => 'home#search' %>
    <span class="input-group-btn">
      <%= button_tag raw('<span class="glyphicon glyphicon-search"></span> Filter'), :name => 'collection_filter', class: 'btn btn-umn-maroon search-btn collection_filter', 'data-action' => 'home#search' %>
    </span>
  </div>
<% end %>
<% if !params[:filter_q].blank? %>
  <div class="start-over row clear-collection-filter">
    <%= link_to raw('<span class="glyphicon glyphicon glyphicon-remove"></span> clear filter'), home_url, class: 'btn btn-default start-over', 'data-action' => 'home#clear_search'  %>
  </div>
<% end %>
