<% thumb_1, thumb_2, thumb_3 = thumbnails%>

<div class="row">
   <% if thumb_3 %>
    <div class="col-md-9 thumb" style="background-image: url(<%= thumb_1['cdn'] %>);">&nbsp;</div>
    <div class="col-md-3 small-thumb-col">
      <div class="thumb thumb-upper-right" style="background-image: url(<%= thumb_2['cdn'] %>);">&nbsp;</div>
      <div class="thumb thumb-lower-right" style="background-image: url(<%= thumb_3['cdn'] %>);">&nbsp;</div>
    </div>
  <% elsif thumb_2 %>
    <div class="col-md-8 thumb" style="background-image: url(<%= thumb_1['cdn'] %>);">&nbsp;</div>
    <div class="col-md-4 thumb" style="background-image: url(<%= thumb_2['cdn'] %>);">&nbsp;</div>
  <% else %>
    <div class="col-md-12 thumb" style="background-image: url(<%= thumb_1['cdn'] %>);">&nbsp;</div>
  <% end %>
</div>
