<% thumb_1, thumb_2, thumb_3 = thumbnails%>
<span class="hidden">
    Featured Collection Image for collection for collection <%= collection['contributing_organization_name'] %>
</span>
<div class="row">
   <% if thumb_3 %>
    <div class="col-xs-9 thumb" style="background-image: url(<%= thumb_1['cdn'] %>);">&nbsp;</div>
    <div class="col-xs-3 small-thumb-col">
      <div class="thumb thumb-upper-right" style="background-image: url(<%= thumb_2['cdn'] %>);">&nbsp;</div>
      <div class="thumb thumb-lower-right" style="background-image: url(<%= thumb_3['cdn'] %>);">&nbsp;</div>
    </div>
  <% elsif thumb_2 %>
    <div class="col-xs-8 thumb" style="background-image: url(<%= thumb_1['cdn'] %>);">&nbsp;</div>
    <div class="col-xs-4 thumb" style="background-image: url(<%= thumb_2['cdn'] %>);">&nbsp;</div>
  <% else %>
    <div class="col-xs-12 thumb" style="background-image: url(<%= fallback_thum_url(thumb_1) %>);">&nbsp;</div>
  <% end %>
</div>
