<header class="navbar navbar-static-top">
  <div id="header-lib-nav" class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= render 'shared/brand' %>
      </div>

      <% if !current_page?('/search') && !current_page?('/') %>
        <%= form_tag searches_path, :method => :get do %>
        <%= label_tag 'q', 'Search:', style: 'display:none' %>
          <div class="input-group col-xs-3 pull-right">
            <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...', value: params[:q] %>
            <span class="input-group-btn">
              <%= button_tag raw('<span class="glyphicon glyphicon-search"></span> Go'), :name => nil, class: 'btn btn-umn-maroon' %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</header>