  <div data-controller="home"
      data-home-collections_page="<%= params.fetch('page', 1) %>"
      data-home-collections_sort="<%= params.fetch('sort', 'collection_recency_sort desc') %>"
      data-home-collection_rows="<%= params.fetch('collection_rows', 20) %>"
      data-home-filter_q="<%= params.fetch('filter_q', '') %>"
      id="home-controller-data">

      <div class="row"><div class="home-hero"></div></div>

        <div class="home-search">
          <%= render 'searches/form', search_params: @home_params %>
          <div class="home-search-description">
            Discover <%= record_count %> images, maps, manuscripts, video, audio, and more. UMedia provides open access to digitized materials from across the University of Minnesota.
          </div>
        </div>

    <div id="collections-home"></div>
</div>