<div class="card-panel panel panel-default">
  <div class="panel-body">
    <%= link_to doc.field_title.value,  search_path(doc.id, search_params), name: doc.id %>
    <dl class="document-metadata dl-horizontal dl-invert">
      <%= render_index_field(doc.field_description) %>
      <%= render_index_field(doc.field_creator) %>
      <%= render_index_field(doc.field_contributor) %>
      <%= render_index_field(doc.field_date_created_ss) %>
      <%= render_index_field(doc.field_contributing_organization) %>
    </dl>
  </div>
</div>