
  <%= form_tag searches_path, :method => :get do %>
  <%= label_tag 'q', 'Search:', style: 'display:none' %>
    <%= raw hidden_facet_values %>
    <%= hidden_field_tag "sort", params[:sort] %>
    <div class="input-group input-group-lg col-md-8 col-xs-6">
      <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...', value: params[:q] %>
      <span class="input-group-btn">
        <%= button_tag raw('<span class="glyphicon glyphicon-search"></span> Go'), :name => nil, class: 'btn btn-umn-maroon' %>
      </span>
    </div>
  <% end %>
  <% if query(search_params).active?%>
    <div class="start-over">
      <%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> start over'), searches_url, class: 'btn btn-default start-over' %>
    </div>
  <% end %>