
  <%= form_tag searches_path, :method => :get do %>
  <%= label_tag 'q', 'Search:', style: 'display:none' %>
    <%= raw hidden_facet_values %>
    <%= hidden_field_tag "sort", params[:sort] %>
    <div class="input-group input-group-lg col-md-8">
      <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search UMedia...', value: params[:q] %>
      <span class="input-group-btn">
        <%= button_tag raw('<span class="glyphicon glyphicon-search"></span> Go'), :name => nil, class: 'btn btn-umn-maroon' %>
      </span>

      <div class="input-group input-group-lg col-sm-12">
        <span class="input-group-btn">

            <button class="btn btn-umn-maroon" type="button" id="search-browse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Browse
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="Browse by">
              <li><%= link_to 'Collection', facets_path(facet_field: 'collection_name_s', facet_sort: 'index', facet_limit: '25', browse: true) %></li>
              <li><%= link_to 'Type', facets_path(facet_field: 'types', facet_sort: 'index', facet_limit: '25', browse: true) %></li>
              <li><%= link_to 'Format', facets_path(facet_field: 'format_name', facet_sort: 'index', facet_limit: '25', browse: true) %></li>
              <li><%= link_to 'Date', facets_path(facet_field: 'date_created_ss', facet_sort: 'index', facet_limit: '25', browse: true) %></li>
              <li><%= link_to 'Subject', facets_path(facet_field: 'subject_ss', facet_sort: 'index', facet_limit: '25', browse: true) %></li>
            </ul>
          </div>
        </span>

    </div>
  <% end %>
  <% if query(search_params).active?%>
    <div class="start-over">
      <%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> start over'), searches_url, class: 'btn btn-default start-over' %>
    </div>
  <% end %>