<% cache("search-item-#{item.id}", expires_in: 1.hour) do %>
  <a name="<%= item.id %>"></a>
  <div class="card-panel panel panel-default">
      <% title_icon_class = 'icon-docs' if item.field_page_count.value && item.field_page_count.value > 1 %>
      <div class="panel-body">
      <%= link_to item.field_title.value,  item_path(item.index_id, search_params), class: "#{title_icon_class} col-md-12" %>
      <dl class="item-metadata dl-horizontal dl-invert col-md-10">
        <%= render 'index_field', field: item.field_description, truncated: true %>
        <%= render 'index_field', field: item.field_creator, truncated: false %>
        <%= render 'index_field', field: item.field_contributor, truncated: false %>
        <%= render 'index_field', field: item.field_date_created_ss, truncated: false %>
        <%= render 'index_field', field: item.field_contributing_organization, truncated: false %>
        <%= render 'index_field', truncated: false, field: item.field_page_count if item.field_page_count.value && item.field_page_count.value > 1 %>
      </dl>
      <%= link_to item_path(item.index_id, search_params) do %>
      <img src="<%= thumbnail.to_cdn_s %>"
          class="thumbnail col-md-2"
          alt="<%= item.field_title.value %>"
          title="<%= item.field_title.value %>"
          onerror="this.onerror=null;this.src=noThumbnail('<%= "#{item.collection}:#{item.id}" %>', '<%= thumbnail.to_s %>');" />
      <% end %>
    </div>
  </div>
<% end %>