<% if pager.display? %>
  <div class="umedia-pager">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <%= render 'searches/prev_next', pager: pager, search_params: search_params if prev_next_pos == 'first' %>
        <% pager.pages.map do |page| %>
          <% if page == pager.marker %>
            <li class="disabled"><a href="#" onclick="return false;"><%= pager.marker %></a></li>
          <% else %>
            <li class="<%= pager.current_page == page ? 'active' : ''%>">
              <%= link_to page, query(search_params).merge(page: page), "data-action" => data_action, "data-page" => page %>
            </li>
          <% end %>
        <% end %>
          <%= render 'searches/prev_next', pager: pager, search_params: search_params if prev_next_pos == 'last' %>
      </ul>
    </nav>
  </div>
<% end %>