<div data-controller="searches">
  <input data-target="searches.name" type="text">
  <button data-action="click->searches#greet">Greet</button>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>This is your greeting</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-9">
    <section id="udc-search-control">
    <%= render 'form', search_params: search_params %>
    </section>
  </div>
</div>

<div class="row">
  <div class="pagit col-md-7">
    <span><%= render 'pager_info', pager: pager %> </span>
  </div>

  <div class="pagit col-md-12">
    <div class="col-md-4">
      <%= render 'config', result_count: pager.result_count, search_params: search_params  %>
    </div>
    <div class="col-md-8">
      <div class="pull-right">
        <%= render 'pager', pager: pager, search_params: search_params %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <%= render 'breadcrumbs', facet_list: facet_list, search_params: search_params %>
</div>

<div class="col-md-12"></div>

<div class="sidebar col-md-3">
  <% if pager.result_count > 0 %>
    <%= render 'facet_list',
              facet_list: facet_list,
              search_params: search_params,
              sidebar_facet_fields: sidebar_facet_fields %>
  <% end %>
</div>

<div class="search-results col-md-9">
  <%= render 'item_list',
             current_page: pager.current_page,
             item_list: item_list,
             search_params: search_params %>
</div>

<div class="col-md-12 pull-right">
  <div class="pull-right">
    <%= render 'pager', pager: pager, search_params: search_params %>
  </div>
</div>
