<div class="item-details col-md-12">
      <dl class="document-metadata dl-horizontal dl-invert col-md-12">
        <%= render 'item_field', field: document.field_title %>
        <%= render 'item_field', field: document.field_alternative_title %>
        <%= render 'item_field', field: document.field_description %>
        <%= render 'item_field', field: document.field_date_created_ss %>
        <%= render 'item_field', field: document.field_historical_era %>
        <%= render 'item_field', field: document.field_creator %>
        <%= render 'item_field', field: document.field_contributor %>
        <%= render 'item_field', field: document.field_publisher %>
        <%= render 'item_field', field: document.field_caption %>
        <%= render 'item_field', field: document.field_notes %>
        <%= render 'item_field', field: document.field_types %>
        <%= render 'item_field', field: document.field_format %>
        <%= render 'item_field', field: document.field_dimensions %>
        <%= render 'item_field', field: document.field_subject %>
        <%= render 'item_field', field: document.field_subject_fast %>
        <%= render 'item_field', field: document.field_city %>
        <%= render 'item_field', field: document.field_state %>
        <%= render 'item_field', field: document.field_country %>
        <%= render 'item_field', field: document.field_region %>
        <%= render 'item_field', field: document.field_continent %>
        <%= render 'item_field', field: document.field_geonames %>
        <%= render 'item_field', field: document.field_projection %>
        <%= render 'item_field', field: document.field_parent_collection %>
        <%= render 'item_field', field: document.field_contributing_organization %>
        <%= render 'item_field', field: document.field_contact_information %>
        <%= render 'item_field', field: document.field_fiscal_sponsor %>
        <%= render 'item_field', field: document.field_local_identifier %>
        <%= render 'item_field', field: document.field_barcode %>
        <%= render 'item_field', field: document.field_system_identifier %>
        <%= render 'item_field', field: document.field_dls_identifier %>
        <%= render 'item_field', field: document.field_persistent_url %>
        <%= render 'item_field', field: document.field_local_rights %>
        <%= render 'item_field', field: document.field_standardized_rights %>
        <%= render 'item_field', field: document.field_rights_statement_uri %>
        <%= render 'item_field', field: document.field_transcription %>
        <%= render 'item_field', field: document.field_translation %>
        <%= render 'item_field', field: document.field_translation %>
        <%= render 'item_field', field: document.field_translation %>
        <%= render 'item_field', field: document.field_translation %>
        <%= render 'item_field', field: document.field_translation %>
      </dl>
    </div>