<div id="sidebar">
  <%= form_with url: '/child_search', class: 'child-search', method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :q,
          id: :q,
          value: params[:query],
          class: 'form-control',
          placeholder: 'Search Pages For...',
          'data-target': 'viewer.searchText',
          'data-action': 'onkeypress->viewer#returnSearch'
          %>
      <span class="input-group-btn">
        <%= f.button 'Search', class: 'btn btn-info', 'data-action': 'click->viewer#search' %>
      </span>
    </div>
      <% clear_active = (params[:query] && params[:query] != '') ? '' : 'hidden' %>
      <div class="clear-search <%= clear_active %>">
        <%= link_to 'Clear Search', item_path(item.id), class: 'btn btn-primary', role: 'button' %>
      </div>
  <% end %>
  <div class="list-group" id="sidebar-pages">
    <%= render 'child_searches/pages', children: children, highlighting: {} %>
  </div>
</div>