<div data-controller="viewer"
     data-viewer-sidebar_page="<%= params.fetch('sidebar_page', 1) %>"
     data-viewer-id="<%= sanitize(params['id']) %>"
     data-viewer-child_id="<%= sanitize(params.fetch('child_id', sidebar.first_page)) %>"
     data-viewer-child_page="<%= child_page_num.to_i %>"
     data-viewer-child_index="<%= params.fetch('child_index', 0).to_i %>"
     data-viewer-query="<%= sanitize(params['query']) %>"
     data-viewer-show_slider="<%= @show_sidebar_slider %>"
     data-viewer-url="/viewers"
     id="viewer-data">
    <% if sidebar.show? %>
        <div id="item-content" class="col-md-8">
          <div id="viewer-display"></div>
        </div>
        <div id="viewer-sidebar" class="col-md-4">
          <%= render 'sidebar' %>
        </div>

         <%= render partial: 'mlt_list' %>
          <%= render partial: 'metadata' %>
    <% else %>
      <div id="viewer-display" class="col-md-12"></div>
    <% end %>
</div>


<% if !sidebar.show? && item.image? %>
  <div class="single-item-download pull-right">
    <%= render 'download', downloads: item.download_config %>
  </div>
<% end %>
 <%= render partial: 'mlt_list' if !sidebar.show? %>
 <%= render partial: 'metadata' if !sidebar.show?  %>