<div class="back-to-search">
  <%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> back to search'),
              {controller: 'searches', action: 'index', anchor: document.id}.merge(search_params) %>
</div>

<h1><%= document.field_title.value %></h1>

<%= render 'viewer', document: document, children: children %>

<% cache document do %>
  <div class="item-metadata col-md-12">
    <ul class="nav nav-pills">
      <li role="presentation" class="active details-pill"><a href="#">Details</a></li>
      <li role="presentation" class="citation-pill"><a href="#">Cite This Item</a></li>
    </ul>
    <%= render 'citation', document: document %>
    <%= render 'details', document: document %>
  </div>
<% end %>




