<% path = item_path(id: child.field_parent_id.value, child_id: child.id) %>
<% active = (current_page?(path)) ? 'active' : ''%>
<%= link_to item_path(id: child.field_parent_id.value, child_id: child.id),
                  'data-action': 'viewer#select',
                  'data-id': child.field_parent_id.value,
                  'data-child_id': child.id,
                  'data-query': sanitize(params[:q]),
                  class: "sidebar-page list-group-item #{active}",
                  id: "sidebar-page-#{page}" do %>
  <h4 class="list-group-item-heading"><%= child.field_title.value %></h4>

    <div class="sidebar-thumbnail">
      <img src="<%= thumbnail.cdn_url %>"
          class="thumbnail"
          data-src="<%= thumbnail.cdn_url %>"
          alt="<%= child.field_title.value %>"
          title="<%= child.field_title.value %>"
          onerror="this.onerror=null;this.src=noThumbnail('<%= child.id %>', '<%= thumbnail.url %>');" />
    </div>


  <%= render 'child_searches/highlight', highlighting: highlighting, child: child %>
<% end %>

<%= render 'child_searches/download', config: download_config(child) %>