<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'thumbnailer' %>
    <%= javascript_pack_tag 'details-toggle' %>
    <%= javascript_pack_tag 'google_events_tracking' %>
    <!--script src="https://cdnapisec.kaltura.com/p/1369852/sp/136985200/embedIframeJs/uiconf_id/41902002/partner_id/1369852"></script-->
    <script src="https://cdnapisec.kaltura.com/p/1369852/sp/136985200/embedIframeJs/uiconf_id/50307192/partner_id/1369852"></script>
    <!--script src="https://cdnapisec.kaltura.com/p/1369852/sp/136985200/embedIframeJs/uiconf_id/42156071/partner_id/1369852"></script-->
    <link rel="shortcut icon" href="<%= image_path('favicon.ico') %>">
    <meta name="google-site-verification" content="ysdtk2ODzHvZ3lvKwF7eMi-YL1q76zGBbTA5T-LI1hg" />
    <meta name="viewport" content="width=device-width">
  </head>

  <body class="umedia">
    <%= render '/shared/header' %>
    <div class="container" name="main" id="main" data-locale="<%= locale %>">
      <%= yield %>
    </div>
    <%= render '/shared/footer' %>
    <%= render :partial => 'shared/blocking_js' %>
  </body>
</html>
